## DF con una o varias tablas de una URL diferente a las vistas en la sesion

In [2]:
import pandas as pd

In [22]:
url = 'https://en.wikipedia.org/wiki/Post_Malone'
df_html = pd.read_html(url)
print(type(df_html))
print("numero de tablas en df", len(df_html))
df_html[1]

<class 'list'>
numero de tablas en df 8

,Year,Title,Role,Notes
0,2018,Spider-Man: Into the Spider-Verse,Brooklyn Bystander (voice),Cameo
1,2020,Spenser Confidential,Squeeb,NaN
2,2021,Wrath of Man,Robber #6,NaN
3,2022,Runaway,Self,NaN
4,2023,Teenage Mutant Ninja Turtles: Mutant Mayhem,Ray Fillet (voice),NaN

## Generar un DF con de alumnas o alumnos de la tabla alumnos de la base bdcolegio02

In [24]:
from sqlalchemy import create_engine

us = 'fesalu'
passwd = 'bdfes2023'
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegio02'
auth = 'mysql_native_password'

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd, url, puerto, bd, auth)

str_conn

'mysql+mysqlconnector://fesalu:bdfes2023@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password'

In [25]:
conn = create_engine(str_conn)
conn

Engine(mysql+mysqlconnector://fesalu:***@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password)

In [28]:
sql = '''SELECT * FROM alumnos WHERE sexo =  %s'''

df_mysql = pd.read_sql_query(sql=sql, con=conn, params=[('F',)])

In [29]:
df_mysql

,clave_alu,clave_admin,ap_paterno,ap_materno,nombre,sexo,curp,peso,estatura,direccion,colonia,cp,ciudad,id_estado,delegacion,telefono,celular,email,status_alu,fedita
0,11030172,4812,BORBOLLA,RAMOS,ARGELIA,F,,52.0,1.60,CLUB CAMPESTRE #867,CLUB CAMPESTRE,26190,QUERETARO,22,QUERETARO,4455497989,9612497989,argi_gogos@miemail.com,AC,2021-11-21 20:08:41
1,11030173,4849,CASTRO,MANCERA,KARLA MARIANA,F,,0.0,0.00,LAGO DE XOCHIMILCO 666,LOMAS DE SAN PABLO,26130,SANTIAGO DE QUERETARO,22,QUERETARO,,,,AC,2021-11-07 22:02:27
2,11030207,4808,AGUILAR,ZAMARRIPA,MICHELLE IVONNE,F,AUZM910928MQTGMC08,47.5,1.71,ECOLOGIA 689,TECNOLOGICO,26158,QUERETARO,22,QUERETARO,,,,AC,2021-10-04 20:53:54
3,11030218,4717,FLORES,NAMUR,MARIA FERNANDA,F,FONF910110MQTLMR00,58.0,1.62,BOTANICA#609,TECNOLOGICO,26158,QUERETARO,22,QUERETARO,4458585556,9618285226,maferfn@miemail.com,AC,2021-09-17 20:30:41
4,11030254,4724,GONZALEZ,DIAZ,CLAUDIA ALEJANDRA,F,GODC910202MDFNZL01,60.0,1.63,FRAY ANTONIO MARGIL DE JESUS #96,LOS MOLINOS 2DA. SECCION,26150,SANTIAGO DE QUERETARO,22,EPIGMENIO GONZALEZ,0444458170558,0449618170258,jlgg1504@telmart.com.mx,AC,2021-09-04 19:40:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,11080201,,SOTO,ELIAS,PALOMA DENISSE,F,SOEP921030MQTTLL03,52.0,1.51,70 DE NOVIEMBRE NO. 7 PTE.,CENTRO SANTA ROSA JAUREGUI,26220,QUERETARO,22,SANTA ROSA JAUREGUI QRO,0444458775868,0449618772868,chiquis_palomit@miemail.com,AS,2023-03-12 16:41:30
279,11080202,,VALLES,RAMOS,MARIANA,F,VARM930602MCHLMR08,62.0,1.66,MARIO GONZALEZ #0,FRACCIONAMIENTO VILLA CORZO,32980,SAN JOSE ITURBIDE,12,SAN JOSE ITURBIDE,4191089618,4191089618,mariana_020693@miemail.com,AS,2023-03-10 14:00:21
280,11080205,,BADUY,VALDEZ,KENNIA ASENET,F,BAKV931111MQTDLN18,59.0,1.60,FRAY FRANCISCO DE LOS ANGELES #766,QUINTAS DEL MARQUEZ,26042,QUERETARO,22,QUERETARO,4451544548,9611244548,keny_625@miemail.com,AS,2023-03-12 19:45:44
281,11080208,,BECERRIL,HUERTA,MARIANA,F,BEHM930222MQTCRR06,52.0,1.59,PASEO DE SOFIA # 709,TEJEDA,26904,QUERETARO,22,CORREGIDORA,4458448574,9618448574,mane_chiquis@miemail.com,AS,2023-03-11 19:46:25
282,11080209,NULL,MORALES,CARMONA,KARLA MARIANA,F,,NaN,NaN,None,None,None,None,18,None,None,None,None,AS,2023-04-15 20:48:37