In [1]:
import pandas as pd

In [2]:
df = pd.read_json("datos/alumnos_calif.json")
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN

In [3]:
# Agrupar por sexo, no cuenta los nulos
df.groupby(['sexo'])['clave_alu'].agg('count')

sexo
F    4
M    5
Name: clave_alu, dtype: int64

In [4]:
# Agrupar por sexo, cuenta los nulos
df.groupby(['sexo'], dropna=False)['clave_alu'].agg('count')

sexo
F      4
M      5
NaN    4
Name: clave_alu, dtype: int64

In [6]:
#Agrupar por ciudad, no cuenta los nulos
df.groupby(['ciudad'])['clave_alu'].agg('count')

ciudad
GUADALAJARA              2
QUERETARO                5
QUERETARO QRO.           1
SANTIAGO DE QUERETARO    1
Name: clave_alu, dtype: int64

In [8]:

#Agrupar por ciudad, no cuenta los nulos
df.groupby(['ciudad'], dropna=False)['clave_alu'].agg('count')

ciudad
GUADALAJARA              2
QUERETARO                5
QUERETARO QRO.           1
SANTIAGO DE QUERETARO    1
NaN                      4
Name: clave_alu, dtype: int64

In [9]:
#Agrupar por ciudad y sexo, cuenta los nulos
df.groupby(['ciudad', 'sexo'], dropna=False)['clave_alu'].agg('count')

ciudad                 sexo
GUADALAJARA            F       2
QUERETARO              F       2
                       M       2
                       NaN     1
QUERETARO QRO.         M       1
SANTIAGO DE QUERETARO  M       1
NaN                    M       1
                       NaN     3
Name: clave_alu, dtype: int64

In [10]:
#Agrupar por ciudad y sexo, cuenta los nulos
df.groupby(['ciudad', 'sexo'], dropna=False)['calificacion']\
    .agg(['count','sum', 'mean','min', 'max', 'std'])

                            count   sum  mean  min  max       std
ciudad                sexo
GUADALAJARA           F         2  14.9  7.45  6.2  8.7  1.767767
QUERETARO             F         1   5.0  5.00  5.0  5.0       NaN
                      M         2  10.0  5.00  5.0  5.0  0.000000
                      NaN       1   9.7  9.70  9.7  9.7       NaN
QUERETARO QRO.        M         1   5.0  5.00  5.0  5.0       NaN
SANTIAGO DE QUERETARO M         1   7.3  7.30  7.3  7.3       NaN
NaN                   M         1   8.0  8.00  8.0  8.0       NaN
                      NaN       3  15.0  5.00  5.0  5.0  0.000000

In [15]:
df_estadisticos = df.groupby(['ciudad', 'sexo'], dropna=False)['calificacion']\
    .agg(['count','sum', 'mean','min', 'max', 'std']).reset_index()
df_estadisticos

                  ciudad sexo  count   sum  mean  min  max       std
0            GUADALAJARA    F      2  14.9  7.45  6.2  8.7  1.767767
1              QUERETARO    F      1   5.0  5.00  5.0  5.0       NaN
2              QUERETARO    M      2  10.0  5.00  5.0  5.0  0.000000
3              QUERETARO  NaN      1   9.7  9.70  9.7  9.7       NaN
4         QUERETARO QRO.    M      1   5.0  5.00  5.0  5.0       NaN
5  SANTIAGO DE QUERETARO    M      1   7.3  7.30  7.3  7.3       NaN
6                    NaN    M      1   8.0  8.00  8.0  8.0       NaN
7                    NaN  NaN      3  15.0  5.00  5.0  5.0  0.000000

In [20]:
#Agrupar por sexo, obtener promedio
df.groupby('sexo', dropna=False)['calificacion'].agg(['count', 'mean'])

      count      mean
sexo
F         3  6.633333
M         5  6.060000
NaN       4  6.175000

In [19]:
#Agrupar por sexo, obtener promedio, filtrado por la cd de QUERETARO
df[df['ciudad']=='QUERETARO'] \
.groupby('sexo', dropna=False)['calificacion'].agg(['count', 'mean'])

      count  mean
sexo
F         1   5.0
M         2   5.0
NaN       1   9.7

In [21]:
#Crear una nueva columna
df['calificacion_cadena'] = df['calificacion'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   clave_alu            13 non-null     int64
 1   ap_paterno           13 non-null     object
 2   ap_materno           13 non-null     object
 3   nombre               13 non-null     object
 4   sexo                 9 non-null      object
 5   ciudad               9 non-null      object
 6   email                8 non-null      object
 7   calificacion         12 non-null     float64
 8   curp                 5 non-null      object
 9   calificacion_cadena  13 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.1+ KB

In [23]:
df.groupby('sexo', dropna=False)['calificacion']\
    .agg(['count', 'mean'])

      count      mean
sexo
F         3  6.633333
M         5  6.060000
NaN       4  6.175000

In [28]:
#Crear una nueva columna
df['calificacion_cadena'] = df['calificacion'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   clave_alu            13 non-null     int64
 1   ap_paterno           13 non-null     object
 2   ap_materno           13 non-null     object
 3   nombre               13 non-null     object
 4   sexo                 9 non-null      object
 5   ciudad               9 non-null      object
 6   email                8 non-null      object
 7   calificacion         12 non-null     float64
 8   curp                 5 non-null      object
 9   entero               13 non-null     object
 10  decimal              12 non-null     object
 11  calificacion_cadena  13 non-null     object
dtypes: float64(1), int64(1), object(10)
memory usage: 1.3+ KB

In [29]:
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,entero,decimal,calificacion_cadena
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,5,0,5.0
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,8,7,8.7
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,7,3,7.3
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,5,0,5.0
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,5,0,5.0
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,6,2,6.2
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,8,0,8.0
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,5,0,5.0
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,nan,None,nan
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,9,7,9.7
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,5.0
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,5.0
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,5.0

In [30]:
df[['entero','decimal']] = df.calificacion_cadena.str.split('.')
# df.drop('calificacion_cadena', axis=1, inplace=True)
df

ValueError: Columns must be same length as key

In [31]:
df.calificacion_cadena.\
    str.split('.')

0     [5, 0]
1     [8, 7]
2     [7, 3]
3     [5, 0]
4     [5, 0]
5     [6, 2]
6     [8, 0]
7     [5, 0]
8      [nan]
9     [9, 7]
10    [5, 0]
11    [5, 0]
12    [5, 0]
Name: calificacion_cadena, dtype: object

In [32]:
df[['entero', 'decimal']] = df.calificacion_cadena.\
    str.split('.', expand=True)
df.drop('calificacion_cadena', axis=1, inplace=True)
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,entero,decimal
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,5,0
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,8,7
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,7,3
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,5,0
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,5,0
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,6,2
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,8,0
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,5,0
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,nan,None
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,9,7
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0

In [33]:
df[['usuario','dominio']] = df.email.str.split('@', expand=True)
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,entero,decimal,usuario,dominio
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,5,0,argi_gogos,email.com
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,8,7,NaN,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,7,3,tavoferrus_11,email.com
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,5,0,NaN,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,5,0,chorok_skp91,email.com
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,6,2,ramono555,himail.com
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,8,0,marka,email.com
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,5,0,nestoriwh,hotmai.com
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,nan,None,ossuarez,aol.com
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,9,7,rob_vaz03,email.com
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN

In [34]:
# Crear columnas a partir de slice de cadena
df['anio'] = df.curp.str[4:6]
df['mes'] = df.curp.str[6:8]
df['dia'] = df.curp.str[8:10]
df['estado'] = df.curp.str[11:13]
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,entero,decimal,usuario,dominio,anio,mes,dia,estado
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,5,0,argi_gogos,email.com,NaN,NaN,NaN,NaN
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,8,7,NaN,NaN,NaN,NaN,NaN,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,7,3,tavoferrus_11,email.com,NaN,NaN,NaN,NaN
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,5,0,chorok_skp91,email.com,92,01,24,PP
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,6,2,ramono555,himail.com,92,04,03,SP
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,8,0,marka,email.com,93,06,22,QT
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,5,0,nestoriwh,hotmai.com,NaN,NaN,NaN,NaN
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,nan,None,ossuarez,aol.com,91,10,25,DF
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,9,7,rob_vaz03,email.com,90,07,08,QT
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# El GPA (Grade Point Average) es un trmino utilizado para asignar un valor numrico 
# a las calificaciones acumuladas 
df['gpa'] = (((df['calificacion']*100)/df['calificacion'].max())/20) -1
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,entero,decimal,usuario,dominio,anio,mes,dia,estado,gpa
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,5,0,argi_gogos,email.com,NaN,NaN,NaN,NaN,1.577320
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,8,7,NaN,NaN,NaN,NaN,NaN,NaN,3.484536
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,7,3,tavoferrus_11,email.com,NaN,NaN,NaN,NaN,2.762887
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,5,0,chorok_skp91,email.com,92,01,24,PP,1.577320
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,6,2,ramono555,himail.com,92,04,03,SP,2.195876
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,8,0,marka,email.com,93,06,22,QT,3.123711
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,5,0,nestoriwh,hotmai.com,NaN,NaN,NaN,NaN,1.577320
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,nan,None,ossuarez,aol.com,91,10,25,DF,NaN
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,9,7,rob_vaz03,email.com,90,07,08,QT,4.000000
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320

In [36]:
#Generar valor escalar
gpa_rango = [1, 1.7, 2.4, 3.3, 4.1]
gpa_etiqueta = ['D', 'C', 'B', 'A']
df['gpa_escala'] = pd.cut(df['gpa'], bins=gpa_rango, labels=gpa_etiqueta)
print(df['gpa_escala'].unique())
df.info()

['D', 'A', 'B', 'C', NaN]
Categories (4, object): ['D' < 'C' < 'B' < 'A']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clave_alu     13 non-null     int64
 1   ap_paterno    13 non-null     object
 2   ap_materno    13 non-null     object
 3   nombre        13 non-null     object
 4   sexo          9 non-null      object
 5   ciudad        9 non-null      object
 6   email         8 non-null      object
 7   calificacion  12 non-null     float64
 8   curp          5 non-null      object
 9   entero        13 non-null     object
 10  decimal       12 non-null     object
 11  usuario       8 non-null      object
 12  dominio       8 non-null      object
 13  anio          5 non-null      object
 14  mes           5 non-null      object
 15  dia           5 non-null      object
 16  estado        5 non-null      object
 17  gpa           12 non-null     float64
 18  gpa_escala    12 non-null     category
dtypes: category(1), float64(2), int64(1), object(15)
memory usage: 2.2+ KB

In [38]:
#Y aos, M meses, W semanas, Q trimestres, sms quincena, bms mes
sti = pd.date_range('2023-01-01', periods=df.clave_alu.count(), freq='2y')
print(df.clave_alu.count())
print(sti)
df['fecha'] = sti

13
DatetimeIndex(['2023-12-31', '2025-12-31', '2027-12-31', '2029-12-31',
               '2031-12-31', '2033-12-31', '2035-12-31', '2037-12-31',
               '2039-12-31', '2041-12-31', '2043-12-31', '2045-12-31',
               '2047-12-31'],
              dtype='datetime64[ns]', freq='2A-DEC')

In [39]:
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,entero,decimal,usuario,dominio,anio,mes,dia,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,5,0,argi_gogos,email.com,NaN,NaN,NaN,NaN,1.577320,D,2023-12-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,8,7,NaN,NaN,NaN,NaN,NaN,NaN,3.484536,A,2025-12-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,7,3,tavoferrus_11,email.com,NaN,NaN,NaN,NaN,2.762887,B,2027-12-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2029-12-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,5,0,chorok_skp91,email.com,92,01,24,PP,1.577320,D,2031-12-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,6,2,ramono555,himail.com,92,04,03,SP,2.195876,C,2033-12-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,8,0,marka,email.com,93,06,22,QT,3.123711,B,2035-12-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,5,0,nestoriwh,hotmai.com,NaN,NaN,NaN,NaN,1.577320,D,2037-12-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,nan,None,ossuarez,aol.com,91,10,25,DF,NaN,NaN,2039-12-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,9,7,rob_vaz03,email.com,90,07,08,QT,4.000000,A,2041-12-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2043-12-31
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2045-12-31
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2047-12-31

In [42]:
df.sort_values(by=['calificacion'], ascending=False)

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,entero,decimal,usuario,dominio,anio,mes,dia,estado,gpa,gpa_escala,fecha
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,9,7,rob_vaz03,email.com,90,07,08,QT,4.000000,A,2041-12-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,8,7,NaN,NaN,NaN,NaN,NaN,NaN,3.484536,A,2025-12-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,8,0,marka,email.com,93,06,22,QT,3.123711,B,2035-12-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,7,3,tavoferrus_11,email.com,NaN,NaN,NaN,NaN,2.762887,B,2027-12-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,6,2,ramono555,himail.com,92,04,03,SP,2.195876,C,2033-12-31
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,5,0,argi_gogos,email.com,NaN,NaN,NaN,NaN,1.577320,D,2023-12-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2029-12-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,5,0,chorok_skp91,email.com,92,01,24,PP,1.577320,D,2031-12-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,5,0,nestoriwh,hotmai.com,NaN,NaN,NaN,NaN,1.577320,D,2037-12-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2043-12-31
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2045-12-31
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2047-12-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,nan,None,ossuarez,aol.com,91,10,25,DF,NaN,NaN,2039-12-31

In [43]:
df.sort_values(by=['sexo','calificacion'], ascending=[True, False])

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,entero,decimal,usuario,dominio,anio,mes,dia,estado,gpa,gpa_escala,fecha
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,8,7,NaN,NaN,NaN,NaN,NaN,NaN,3.484536,A,2025-12-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,6,2,ramono555,himail.com,92,04,03,SP,2.195876,C,2033-12-31
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,5,0,argi_gogos,email.com,NaN,NaN,NaN,NaN,1.577320,D,2023-12-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,nan,None,ossuarez,aol.com,91,10,25,DF,NaN,NaN,2039-12-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,8,0,marka,email.com,93,06,22,QT,3.123711,B,2035-12-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,7,3,tavoferrus_11,email.com,NaN,NaN,NaN,NaN,2.762887,B,2027-12-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2029-12-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,5,0,chorok_skp91,email.com,92,01,24,PP,1.577320,D,2031-12-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,5,0,nestoriwh,hotmai.com,NaN,NaN,NaN,NaN,1.577320,D,2037-12-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,9,7,rob_vaz03,email.com,90,07,08,QT,4.000000,A,2041-12-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2043-12-31
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2045-12-31
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,1.577320,D,2047-12-31